<h2>Event details</h2>
<h2><%= @room.name %></h2>

<div><%= @room.description %></div>
<div><%= @room.price %></div>
<div><%= @room.date %></div>
<div><%= @room.location %></div>
<%= link "Book Now", to: Routes.ticket_path(@conn, :create,@room.id), method: :post, class: "u-btn u-button-style u-btn-1"%>

