<h2>Event details</h2>
<h2>Name: <%= @room.name %></h2>

<div>Description: <%= @room.description %></div>
<div>Cost: <%= @room.price %></div>
<div>Date: <%= @room.date %></div>
<div>Location: <%= @room.location %></div>
<div>Availability: <%= @room.availability %></div>
