<h2>Event details</h2>
<h2>Name: <%= @event.name %></h2>

<div>Description: <%= @event.description %></div>
<div>Cost: <%= @event.price %></div>
<div>Date: <%= @event.date %></div>
<div>Location: <%= @event.location %></div>
<div>Availability: <%= @event.availability %></div>
